@font-face {
    font-family: game;
    src: url(./fonts/LadylikeBB.ttf);
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: game;
}
body{
    
    width: 100vw;
    background-color: #CBC3E3;
    padding: calc(10px + 1vw);
    
   
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:min(2rem,2vh)
}
.player-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-items: center;
    width:min(600px,100%);
    gap:calc(12px + 5vh)
}

input[type=radio]{
    appearance: none;

}
.playerInput{
    display: flex;
    justify-content: center;
    align-items: center;
    width:clamp(150px,30%,300px)
}
.playerGif{
    height: auto;
    width:clamp(90px,15vw,120px)
}
.game-container .avatar{
    height: auto;
    width:clamp(90px,15vw,120px)
}
.pic-choice{
    display: flex;
}

h1.title{
    font-size: clamp(1.8rem,4vw,3.5rem);
}

.player-name-input{
    display: flex;
    flex-flow: column nowrap;
    gap:0.8rem;
    font-size: calc(1rem + 1vw);
}
.player-name-input > input[type=text]{
    border: none;
    border-radius: 15px;
    height: calc(1rem + 0.5vw);
    padding: 5px;
    font-size: calc(1rem + 0.5vw);
}
label[class=playerInput]:hover ,.playerInput img:hover{
   
    transform: scale(1.15);
}
label[class=playerInput]:has(> input[type=radio]:checked) , .playerInput img:has( + input[type=radio]:checked){
    transform: scale(1.15);
}
input[type=text]{
    max-width:230px
}
.start,.return{
    font-size: clamp(1rem,3vw,2rem);
    border: none;
    padding:min(16px,1vw) min(23px,2vw);
    border-radius: 15px;
}
.choice-text{
    margin-top: 0.5rem;
}
.game-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0 auto;
    width:min(500px, 100%);
    gap:15px;
}
.return{
    border-radius: 0;
    position: fixed;
    top:0;
    left:0;
}
.scores{
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: flex-end;
    gap:1rem
}
.name-score{
    font-size: clamp(1rem,3vw,2rem);
}
.switchPlayers , .xo-container{
    grid-column: 1/-1;
}
.switchPlayers{
    font-size: clamp(1rem,3vw,2rem);
    text-align: center;
}
.xo-container{
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    gap:1px;
    width:clamp(250px,50vw,400px);
    height:clamp(250px,50vw,400px);
    justify-self: center;
}
.cell{
    height: 100%;
    width:100%;
    background-color: black;
    color:white;
    font-size: clamp(66px,5vw,128px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.restart{
    grid-column: 1/-1;
    justify-self: center;
    font-size: clamp(1rem,3vw,2rem);
    border: none;
    padding:min(16px,1vw) min(23px,2vw);
    border-radius: 15px;

}